html, body {
	margin: 0;
}

table {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 2px solid #4865bb;
	border-collapse: collapse;

	tr {
		background-color: #e4e4e4;
		

		th, td {
			min-width: 30px;
			padding: 2px 10px;
			text-align: center;
			border: 1px solid #968aff;
		}

		.win {
			color: #ce3939;
		}

		th {
			border: none;
		}

		.empty {
			background-color: #4865bb;
			border: none;
		}
	}

	.header-row {
		background-color: #4865bb;
		color: #fff;
	}

	.additional-row{
		td:not(.empty) {
			border-top: 2px dotted #4865bb;
		}
	}
}
